<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>      
      <add key="FileSystemRootPath" value="C:\Work\AdaptiveBI\SolidQ\3.0\ABI-Compiler\ABI-Stable\SolidQ.ABI.Console\bin\Debug" />

      <add key="MetadataFolderName" value="metadata" />
      <add key="TemplateFolderName" value="templates" />
      <add key="OutputFolderName" value="output" />
 
      <add key="MetadataSearchPattern" value="*.json" />
      <add key="MetadataSearchSubDirectories" value="false" />      
    </appSettings>
</configuration>
